extends base





block content
	
	<div class="container container-content">

		//-@include('components.flash')

		<h1 class="title">Welcome to HabitBuddy!</h1>
			<header class="jumbotron">
				<h2>Click on the habits on your left to see how well you and your buddy are doing!</h2><br>
				<h3>No habits? Go add some then!</h3>
				
			</header>
	</div>  